<div class="panel panel-default">
  <div class="panel-body">
<div ng-controller="loginCtrl" class="login">
<form class="form-inline" ng-submit="sendData()" novalidate>
<div class="form-group">
 <label for="usr">Name:</label>
 <input type="text" class="form-control" ng-model="username">
</div>
<div class="form-group">
 <label for="pwd">Password:</label>
 <input type="password" class="form-control" ng-model="password">
</div>
<input type="submit" class="btn btn-default" value = "Log in"\>
</form>
</div>
</div>
</div>
