<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">
      </head>
  <body>

<div ng-controller="myController">
<form ng-submit="addUser()" novalidate name="userForm" class="form-group">
<label>Your name(3+ symbols, 1st uppercase, only letters): </label><input name="usern" required ng-model="usern" placeholder="enter your name"  class="form-control" usern-directive>
<label>Your age(18-65): </label><input name="age" ng-model="age" placeholder="enter your age" required class="form-control" age-directive>
<label>Date(DD/MM/YYYY): </label><input name="date" ng-model="date" placeholder="DD/MM/YYYY" required class="form-control" date-directive>
<br><input type="submit" value="Submit"></input>
</form>
<div ng-show="state" class="alert alert-danger">
  <strong>Wrong Data Format!!!!!!!</strong>
</div>
  <table class="table">
<tr ng-repeat="user in users">
  <td>{{user.usern}}</td>
  <td>{{user.age}}</td>
  <td>{{user.date}}</td>
</tr>
</table>

</div>

</body>
</html>
